<app-header></app-header>
<div class="container" id="signInForm">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit();" novalidate>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <label for="userName">Username :</label>
    </div>
    <div class="col-sm-3">
      <input formControlName="userName" id="userName" type="text" placeholder="Username" name="userName" required>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <label for="pwd">Password :</label>
    </div>
    <div class="col-sm-3">
      <input formControlName="password" id="pwd" type="password" placeholder="Password" required>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <input formControlName="remop" type="checkbox"> Remember Me
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button type="submit" class="btn-primary btn" [disabled]="signInForm.invalid">Sign In</button>
    </div>
  </div>
  </form>
  <div class="row">
    <div class="col-12 text-center p-3">
      <a [routerLink]="['/signup']">Don't have an account!! Register yourself here</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
