#signInForm, #signUpSuccess {
  margin : 150px auto;
}

.col {
  text-align: center;
  padding: 10px;
}

.card {
  background-color: whitesmoke;
  width: 40%;
  margin: 10% auto 0;
  padding: 2%;
}