<app-header></app-header>
<div *ngIf="!signUpSuccess" class="container" id="signUpForm">
  <div class="card">
    <form [formGroup]="signUpForm" name="form" (ngSubmit)="onSubmit();" novalidate>
  <div class="row">
    <div class="col">
      <label for="name">Name* :</label>
    </div>
    <div class="col">
      <input formControlName="name" id="name" type="text" placeholder="Enter your Name" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="userName">Username* :</label>
    </div>
    <div class="col">
      <input formControlName="userName" type="text" id="userName" placeholder="Username" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="email">Email-id* :</label>
    </div>
    <div class="col">
      <input formControlName="emailId" name="emailId" id="email" type="email" placeholder="Email-id" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="dob">Date of Birth* :</label>
    </div>
    <div class="col">
      <input formControlName="dob" name="dob" id="dob" type="date" required>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn-primary btn" [disabled]="signUpForm.invalid" type="submit">Sign Up</button>
    </div>
  </div>
  </form>
  </div>
  
  <div class="row">
    <div class="col text-center p-3">
      <a [routerLink]="['/login']">Already have an account!! Sign In here</a>
    </div>
  </div>
</div>
<div *ngIf="signUpSuccess" class="container" id="signUpForm2">
  <div class="card">
    <div class="row">
    <div class="col">
      <label for="pwd">Password :</label>
    </div>
    <div class="col">
      <input #pwd="ngModel" [(ngModel)]="password" name="password" id="pwd" type="password" placeholder="Password" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="pwdcnfrm">Re-Enter Password :</label>
    </div>
    <div class="col">
      <input #pwdcnfrm="ngModel" [(ngModel)]="confpassword" name="confpassword" id="pwdcnfrm" type="password" placeholder="Confirm Password" required>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn-primary btn" (click)="onRegister();" [disabled]="(password == '' || password != confpassword)">Register</button>
    </div>
  </div>
  </div>
  
</div>
<app-footer></app-footer>